* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Inter, sans-serif;
    background-color: #20123a;
    color: #fff;
    line-height: 1;
    letter-spacing: .8px;
    overflow: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.bigSquare, .smallSquare, .bigCircle, .bigCircle::before {
    z-index: -1;
    position: absolute;
}

.bigSquare {
    width: 30vw;
    height: 30vw;
    border-radius: 50px;
    rotate: 107deg;
    bottom: -35%;
    right: 0;
    background: linear-gradient(144deg, rgba(32,18,58,1) 0%, rgba(56,18,58,1) 100%); 
}

.bigCircle, .bigCircle::before {
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    rotate: -23deg;
    bottom: 0;
    right: 10%;
    background: linear-gradient(#20123a, #20123a) padding-box,
    linear-gradient(to right, #20123a, #38123a) border-box;
    opacity: 80%;
    border: 20px solid transparent;
}

.smallSquare {
    background: linear-gradient(100deg, rgba(32,18,58,1) 0%, rgba(56,18,58,1) 100%); 
    width: 20vw;
    height: 20vw;
    border-radius: 20%;
    rotate: -107deg;
    bottom: -10%;
    left: 0;
    opacity: 30%;
}




.textDiv {
    margin-bottom: 6rem;
    font-weight: 700;
}
.bigText {
    font-size: 150px;
    color: #ff4f5e;
    text-shadow: 0 0 10px #ff4f5e50;
}
.smallText {
    font-size: 40px;
    padding-left: 4px;
    text-shadow: 0 0 10px #ffffff2d;
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 46rem;
}
.urlInput {
    border: 3px solid #ff4f5e;
    background-color: #ff4f5e09;
    border-radius: 5px 0 0 5px;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    font-family: Inter, sans-serif;
    transition: all .2s ease;
    width: 100%;
}
.urlBtn {
    border: 3px solid #ff4f5e;
    background-color: #ff4f5e50;
    border-radius: 0 5px 5px 0;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    font-family: Inter, sans-serif;
    transition: all .2s ease;
    border-left: none;
}
.urlBtn:active, .urlBtn:focus, .urlInput:active, .urlInput:focus {
    outline: 0;
    box-shadow: 0 0 10px #ff4f5e50;
}

.linkInfo {
    /* background-color: red; */
    width: 46rem;
    /* 46rem */
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.qrCodeArea {
    width: 30%;
    margin-right: 3rem;
    display: relative;
    transition: all .2s ease;
}

.qrImage {
    background-color: white;
    box-shadow: 0 0 10px #ffffff65;
    padding: 5px;
    border-radius: 5px 5px;
}

.qrImage img, .qr_img {
    width: 100%;
    height: auto;
}

.newUrlBtn:hover, .urlBtn:hover, .backBtn:hover {
    background-color: #ff4f5e;
    color: #20123a;
}

.newUrlArea {
    width: 70%;
    position: relative;
}

.sumDiv {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
}

.newUrlDiv a {
    color: #ff4f5e;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    transition: all .2s ease;
    text-shadow: 0 0 10px #ff4f5e50;
}

.newUrlDiv a:hover {
    text-decoration: underline;
}

.newUrlBtns {
    position: absolute;
    bottom: 0px;
    left: 0;
    display: flex;
    flex-direction: row;
}

.newUrlBtn, .backBtn {
    border: 3px solid #ff4f5e;
    background-color: #ff4f5e50;
    border-radius: 5px;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .2s ease;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    margin-right: 1rem;
}

.downloadBtn {
    z-index: 2;
    position: absolute;
    border: 3px solid #ff4f5e;
    color: #ff4f5e;
    background-color: #20123ade;
    border-radius: 5px;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    transition: all .3s ease;
    margin: 10px;
    display: none;
    /* align text center */
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    /* no text select */
    user-select: none;
}

.downloadBtn:hover {
    background-color: #ff4f5e;
    color: #20123a;
}

.qrCodeArea:hover .downloadBtn {
    display: flex;
}