{% extends "layout" %}

{% block content %}
<div class="textDiv">
    <div class="bigText">Zeruel:</div>
    <div class="smallText">Generate QR-Codes & Shorten Links</div>
</div>
<form action="/" method="post">
    <input class="urlInput" type="url" name="big_url" placeholder="Paste URL here...">
    <input class="urlBtn" type="submit" value=">">
</form>
{% endblock content %}